<tr>
<td class="trow1" align="center" valign="top" width="1"><img src="{{settings['imgdir'] }}/on.gif" alt="Forum Contains New Posts" title="Forum Contains New Posts" class="ajax_mark_read" id="mark_read_2" /></td>
<td class="trow1" valign="top">
<strong><a href="forum_{{ f.fid }}">{{ f.name }}</a></strong><div class="smalltext"></div>
</td>
<td class="trow1" valign="top" align="center" style="white-space: nowrap">{{ f.threads }}</td>
<td class="trow1" valign="top" align="center" style="white-space: nowrap">{{ f.posts }}</td>
<td class="trow1" valign="top" align="right" style="white-space: nowrap"><!-- start: forumbit_depth2_forum_lastpost -->
<span class="smalltext">
<a href="showthread.php?tid=12&amp;action=lastpost" title="{{ f.lastpostsubject }}"><strong>{{ f.lastpostsubject[0:25] }}...</strong></a>
<br />28/01/2013 16:09<br />by <a href="http://dell.lenrdu.so-ups.ru/member.php?action=profile&amp;uid=9">{{ f.lastposter }}</a></span>
</tr>
