{% extends "superlayout.html" %}
{% block title %}{{ settings['bbname']}}{% endblock %}
{% block hi_h_specific %}
</head>
<body>
{% endblock %}
{% block h_f_specific %}
{%- for r in forums if r.type == 'c' %}
{% include 'depth1_cat.html' %}
{%- for f in forums if f.pid == r.fid %}
{% include 'depth2_forum.html' %}
{%- endfor %}
<br />
{%- endfor %}
{#
{$forums}
{$boardstats}

<dl class="forum_legend smalltext">
	<dt><img src="{$theme['imgdir']}/on.gif" alt="{$lang->new_posts}" title="{$lang->new_posts}" style="vertical-align: middle; padding-bottom: 4px;" /></dt>
	<dd>{$lang->new_posts}</dd>

	<dt><img src="{$theme['imgdir']}/off.gif" alt="{$lang->no_new_posts}" title="{$lang->no_new_posts}" style="vertical-align: middle; padding-bottom: 4px;" /></dt>
	<dd>{$lang->no_new_posts}</dd>

	<dt><img src="{$theme['imgdir']}/offlock.gif" alt="{$lang->forum_locked}" title="{$lang->forum_locked}" style="vertical-align: middle;" /></dt>
	<dd>{$lang->forum_locked}</dd>
</dl>
<br style="clear: both" />
#}
{% endblock %}

