<html>
<head>
<title>{% block title %}{% endblock %}</title>
{# headerinclude template begin #}
<meta http-equiv="Content-Type" content="text/html; charset={{ settings['charset'] }}" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<script type="text/javascript" src="{{ settings['bburl'] }}/jscripts/prototype.js?ver=1603"></script>
<script type="text/javascript" src="{{ settings['bburl'] }}/jscripts/general.js?ver=1603"></script>
<script type="text/javascript" src="{{ settings['bburl'] }}/jscripts/popup_menu.js?ver=1600"></script>
<link type="text/css" rel="stylesheet" href="{{ settings['bburl'] }}/cache/themes/theme1/global.css" />
{# headerinclude template end #}
{% block hi_h_specific %}{% endblock %}
{# header template begin #}
<div id="container"}
	<a name="top" id="top"></a>
	<div id="header">
		<div class="logo"><a href="{{ settings['bburl'] }}/index.php"><img src="{{ settings['logo'] }}" alt="{{ settings['bbname'] }}" title="{{ settings['bbname'] }}" /></a></div>
		<div class="menu">
			<ul>
				<li><a href="{{ settings['bburl'] }}/search.php"><img src="{{ settings['imgdir'] }}/toplinks/search.gif" alt="" title="" />{{ settings['toplinks_search'] }}</a></li>
				<li><a href="{{ settings['bburl'] }}/memberlist.php"><img src="{{ settings['imgdir'] }}/toplinks/memberlist.gif" alt="" title="" />{{ settings['toplinks_memberlist'] }}</a></li>
				<li><a href="{{ settings['bburl'] }}/calendar.php"><img src="{{ settings['imgdir'] }}/toplinks/calendar.gif" alt="" title="" />{{ settings['toplinks_calendar'] }}</a></li>
				<li><a href="{{ settings['bburl'] }}/misc.php?action=help"><img src="{{ settings['imgdir'] }}/toplinks/help.gif" alt="" title="" />{{ settings['toplinks_help'] }}</a></li>
			</ul>
		</div>
		<hr class="hidden" />
		<div id="panel">
			{% include 'welcomeblock.html' %}
		</div>
	</div>
<br />
<div class="navigation">
<span class="active">{{ settings['bbname'] }}</span>
</div>
<br />
{# 	<hr class="hidden" />
	<br class="clear" />
	<div id="content">
		{$pm_notice}
		{$bannedwarning}
		{$bbclosedwarning}
		{$unreadreports}
		{$pending_joinrequests}
		<navigation>
		<br /> #}
{# header template end #}
{% block h_f_specific %}{% endblock %}
{# footer template begin #}
{#		<br />
		<div class="bottommenu">
			<div class="float_right">{$lang_select}</div>
			<div>
				<span class="smalltext"><a href="{$mybb->settings['contactlink']}">{$lang->bottomlinks_contactus}</a> | <a href="{$mybb->settings['homeurl']}">{$mybb->settings['homename']}</a> | <a href="#top">{$lang->bottomlinks_returntop}</a> | <a href="#content">{$lang->bottomlinks_returncontent}</a> | <a href="<archive_url>">{$lang->bottomlinks_litemode}</a> | <a href="{$mybb->settings['bburl']}/misc.php?action=syndication">{$lang->bottomlinks_syndication}</a></span>
			</div>
		</div>
		</div>
	<hr class="hidden" />
		<div id="copyright">
			<div id="debug"><debugstuff></div>
			<!-- MyBB is free software developed and maintained by a volunteer community.
				 It would be much appreciated by the MyBB Group if you left the full copyright and "powered by" notice intact,
				 to show your support for MyBB.  If you choose to remove or modify the copyright below,
				 you may be refused support on the MyBB Community Forums.

				 This is free software, support us and we'll support you. -->
{$lang->powered_by} <a href="http://mybb.com/" target="_blank">MyBB{$mybbversion}</a>, &copy; 2002-{$copy_year} <a href="http://mybb.com/" target="_blank">MyBB Group</a>.<br />
			<!-- End powered by -->
			<br />
<br class="clear" />
<!-- The following piece of code allows MyBB to run scheduled tasks. DO NOT REMOVE -->{$task_image}<!-- End task image code -->
{$auto_dst_detection} #}
	</div>
	</div>
</body>
{# footer template end #}
</html>

