<span style="float: right;">Current time must be here (non implemented yet)</span>
		<span id="quick_login">Hello There, Guest! (<a href="{{ settings['bburl'] }}/member.php?action=login">Login</a> &mdash; <a href="{{ settings['bburl'] }}/member.php?action=register">Register</a>)</span>

